body {
	background: #202028;
	color: #fff;
	font-family: sans-serif;
	font-size: 2em;
	text-align: center;
}

canvas {
	border: solid .2em #fff;
	height: 90vh;
}

.wrapper {
	width: 1080px;
	margin: 0 auto;
}

.cfx::before, .cfx::after{
    display: table;
    content: "";
    line-height: 0;
}
.cfx::after{
    clear: both;
}

#start {
  -webkit-box-shadow: 3px 2px 9px #666666;
  -moz-box-shadow: 3px 2px 9px #666666;
  box-shadow: 3px 2px 9px #666666;
  font-family: Courier New;
  color: #73efff;
  font-size: 50px;
  background: #d43790;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
	float: right;
	width: 200px;
}

#start:hover {
  background: #b8307f;
  text-decoration: none;
	cursor:pointer;
}
#pause{
	-webkit-box-shadow: 3px 2px 9px #666666;
	-moz-box-shadow: 3px 2px 9px #666666;
	box-shadow: 3px 2px 9px #666666;
	font-family: Courier New;
	color: #73efff;
	font-size: 50px;
	background: #d43790;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	float: right;
	width: 200px;
}

#pause:hover {
  background: #b8307f;
  text-decoration: none;
	cursor:pointer;
}
.score{
	display: inline;
	max-width: 800px;
}
